<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-3">
    <nav class="flex w-auto py-1 px-5 max-w gap-4 justify-center text-lg items-center text-center  rounded-full border border-transparent transition-all duration-600"
        [ngClass]="{'bg-gray-700/20 shadow-sm backdrop-blur-md border-neutral-400': isScrolled, 'bg-transparent': !isScrolled}">
        <a class="green relative block font-mono py-1 border-b-0 text-colorGreenWater" href="#proyectos">Proyectos</a>
        <a class="white relative block font-mono py-1 border-b-0 text-white" href="#skills">Skills</a>
        <a class="white relative block font-mono py-1 border-b-0 text-white" href="#sobreMi">Sobre Mi</a>
        <a class="green relative block font-mono py-1 border-b-0 text-colorGreenWater" href="#contacto">Contacto</a>
    </nav>
</header>