@tailwind components;

@layer components {
    a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: rgb(18, 247, 214); /* Color del borde */
      transition: width 0.3s ease-in-out;
    }
  
    a:hover::before {
      width: 100%; /* El borde se expande completamente al pasar el mouse */
    }
  }
  