<section id="sobreMi" class="mx-auto w-full flex container lg:max-w-4xl md:max-w-2xl py-12">
    <div class="flex flex-col">
        <div class="flex items-center">
            <svg class="size-7 mr-2 text-title" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 8l-4 4l4 4"></path>
                <path d="M17 8l4 4l-4 4"></path>
                <path d="M14 4l-4 16"></path>
            </svg>
            <h1 class="font-poppins text-title font-bold text-3xl">Sobre mí</h1>
        </div>
        <div class="[&>p>span]:text-colorGreenWater [&>p>span]:font-semibold [&>p>span]:font-spaceMono font-poppins text-white pt-8">
            <p>Mi nombre es <span>Marcos Closter</span>, nacido en Buenos Aires, Argentina. Me dedico al <span>desarrollo front-end</span> y actualmente soy estudiante avanzado de la <span>Tecnicatura Universitaria en Programación</span> en la Universidad Tecnológica Nacional. Comencé en la programación con cursos de desarrollo web (HTML, CSS, JavaScript) cuando tenía 17 años. Actualmente, trabajo con herramientas más modernas como <span>Angular</span> y <span>Tailwind CSS</span>.</p>
            <br>
            <p>Siempre estoy en busca de nuevas oportunidades para aprender y crecer profesionalmente. Tengo una <span>mentalidad proactiva</span> y valoro el <span>trabajo en equipo</span> y la colaboración, ya que creo que las mejores ideas surgen de la diversidad de perspectivas. Además, tengo buenas <span>habilidades de comunicación</span> que me permiten conectar fácilmente con las personas.</p>
            <br>
            <p>Cuando no estoy escribiendo código, disfruto de jugar a los videojuegos, <span>aprender</span> más sobre programación y, sobre todo, <span>hacer deporte</span>, que es una de mis grandes pasiones. Practicarlo me permite desconectar y mantener un equilibrio saludable entre trabajo y ocio.</p>
        </div>
    </div>
</section>