<section class="flex max-w-5xl justify-center py-24" id="presentation">
    <div class="table-column">
        <div class="text-4xl font-poppins font-semibold text-white">
            <h1 class="text-3xl">Hey,</h1>
            <h1>Soy <span class="text-[#12f7d6] font-bold">Marcos Closter</span>,</h1>
            <h3 class="text-xl py-1 text-slate-300 font-normal">Desarrollador Front-End</h3>
        </div>
        <div>
            <a href="marcoscloster04@gmail.com">
                Contactame
            </a>
        </div>
    </div>
    <div>
        img
    </div>

</section>